<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="app">
      <% include ./header %>
      <div class="app__main">
        <% include ./app_problem %>
      </div>
      <% include ./footer %>
    </div>
  </body>
  <% include ./codemirror %>
  <script src="/javascripts/problem.js"></script>
</html>
