<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="service-error">
      <span class="service-error__status"><%= status %></span>
      <span class="service-error__message"><%= message %></span>
      <a href="/"><span class="service-error__button">Go to main</span></a>
    </div>
  </body>
</html>
