<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="app">
      <% include ./header %>
      <div class="app__main">
        <%- include('./app_problem', {problem: problem}); %>
      </div>
      <% include ./footer %>
      <div class="app__modal">
        <span class="app__modal__comment">Congrats! Success!</span>
        <a href="/"><span class="app__modal__link">back to the list</span></a>
      </div>
    </div>
  </body>
  <script src="/javascripts/index.js"></script>
</html>
