@import url('https://fonts.googleapis.com/css?family=Lato|Press+Start+2P');

body {
  margin: 0;
  height: 100vh;
  text-align: center;
  font: 0.9rem 'Lato', sans-serif;
  color: rgba(255, 255, 255, 0.8);
  background-color: black;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

a, button {
  all: unset;
  cursor: pointer;
}

textarea {
  all: unset;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, p {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-width: 700px;
  max-width: 80%;
  height: 100%;
  margin: 0 auto;

  &__header {
    margin-bottom: 10px;

    &__title {
      padding: 40px 0;
      font-family: 'Press Start 2P', cursive;
      font-size: 2rem;
      letter-spacing: 0.6rem;
      color: rgba(255, 255, 255, 1);
      text-shadow: 3px 3px #1a8cd3;
      animation: titleShadow 1s infinite;
    }
  }

  &__main {
    flex: 1;
    display: flex;
    min-height: 60vh;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #ff6f61, 0px 0px 30px 5px rgb(248, 50, 32);

    &__navigator {
      width: 140px;
      padding-top: 5px;
      border-radius: 10px 0 0 10px;
      background-color: #101011;

      &__list {
        span {
          display: inline-block;
          padding: 10px;
        }

        li {
          margin: 0px;
          padding: 10px;
          color: gray;

          &:hover {
            color: rgba(255, 255, 255, 0.8);
          }
        }

        li.active, li.active:hover {
          color: #fea166;
        }
      }
    }

    &__problems {
      flex: 1;
      overflow: auto;
      text-align: center;
      padding: 10px 20px;
      border-radius: 0 10px 10px 0;
      background-color: #151518;

      &__info {
        display:flex;
        align-items: baseline;
        text-align: left;
        margin-bottom: 20px;

        &__result {
          flex: 1;
        }

        &__register {
          text-align: center;
          padding: 5px 10px;
          border: 1px solid #fea166;
          border-radius: 20px;

          &:hover {
            background-color: #fea166;
          }
        }
      }

      &__list {
        text-align: left;

        &__item {
          margin-bottom: 10px;

          h3 {
            margin: 10px 0;

            a {
              &:hover {
                color: #fea166;
              }
            }
          }

          span {
            margin-right: 5px;
          }
        }

        &__line {
          margin: 25px;
          border-bottom: 1px solid rgba(254, 160, 102, 0.2);
        }
      }
    }

    &__problem {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 20px;
      border-radius: 10px;
      background-color: #101011;

      &__title {
        margin: 0 0 30px 10px;
        text-align: left;

        h1 {
          display: inline-block;
          margin-right: 10px;
        }

        span {
          margin: 0 2px;
        }
      }

      &__wrapper {
        flex: 1;
        display: flex;
      }

      &__description {
        position: relative;
        flex: 2;
        margin-right: 15px;
        text-align: left;

        &__subject {
          display: inline-block;
          position: absolute;
          left: 0px;
          text-align: center;
          width: 90px;
          transform: translateY(-120%);
        }

        p {
          height: 100%;
          padding: 10px;
          border: 1px solid #fea166;
          border-radius: 10px;
          line-height: 24px;
        }
      }

      &__innerWrapper {
        flex: 5;
        display: flex;
        flex-direction: column;
      }

      &__solution {
        flex: 3;
        display: flex;
        flex-direction: column;
        position: relative;
        text-align: left;

        &__subject {
          display: inline-block;
          position: absolute;
          left: 0px;
          text-align: center;
          width: 90px;
          transform: translateY(-120%);
        }

        textarea {
          flex: 1;
          width: calc(100% - 20px);
          height: 150px;
          padding: 10px;
          border: 1px solid #fea166;
          border-radius: 10px;
        }

        &__submit {
          text-align: center;

          button {
            text-align: center;
            width: 50%;
            margin: 10px 0;
            padding: 5px;
            border-radius: 20px;
            background-color: rgba(128, 128, 128, 0.4);

            &:hover {
              background-color: #ff6f61;
            }
          }
        }
      }

      &__result {
        flex: 1;
        position: relative;
        text-align: left;
        height: 80px;
        padding: 10px;
        border: 1px solid #fea166;
        border-radius: 10px;

        &__subject {
          display: inline-block;
          position: absolute;
          top: 0;
          left: 20px;
          text-align: center;
          width: 90px;
          background-color: #101011;
          transform: translateY(-50%);
        }

        &__example {
          text-align: center;
          height: 100%;

          td {
            padding: 0 8px;
          }

          tr.wrong, tr.error {
            td {
              color: #c05c48;
            }
          }

          tr.correct {
            td {
              color: #67b04b;
            }
          }
        }
      }
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    height: 40px;
  }

  &__modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.7);

    &.hidden {
      display: none;
    }

    &__template {
      width: 500px;
      padding: 10px;
      border-radius: 15px;
      background-color: white;

      &__form {
        text-align: left;
        color: black;

        &__header {
          text-align: center;
          margin-bottom: 15px;

          p.require {
            color: red;
          }
        }

        &__fields {
          margin-bottom: 10px;
          border-radius: 15px;

          &__item {
            display: flex;
            align-items: baseline;
            margin: 10px;
            font-size: 0.8rem;

            input {
              flex: 1;
              margin-left: 5px;
            }
          }
        }

        div {
          text-align: center;

          button {
            padding: 5px 10px;
            border: 1px solid #fea166;
            border-radius: 20px;
  
            &:hover {
              color: white;
              background-color: #ff6f61;
            }
          }
        }
      }
    }

    &__comment {
      margin-bottom: 30px;
      font-size: 3rem;
    }

    &__button {
      padding: 5px 10px;
      border: 1px solid #fea166;
      border-radius: 20px;
    }
  }
}

.service-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  &__status {
    font-size: 8rem;
    letter-spacing: 1rem;
  }

  &__message {
    margin-bottom: 16px;
    font-size: 3rem;
  }

  &__button {
    padding: 5px 10px;
    border: 1px solid #fea166;
    border-radius: 20px;
  }
}

@keyframes titleShadow {
  0%, 100% {
    filter: hue-rotate(-0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}
